<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserId" value="ZGV2ZWxvcEBoaXJlZGUuY29t" />
    <add key="Password" value="7db70ff930da2782ea1e0c4e06b80eee" />
    <add key="DownloadPath" value="D:\Voices" />   
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
