<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DownloadPath" value="D:\Voices" />
    <add key="AlbumUrl" value="http://www.ximalaya.com/55340211/album/4874286" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>